
<div class='nav-container'>
    <div class='nav-header'>
        <% if current_user %>
            <p><%= current_user.username %></p>
        <% else %>
            <p>Guest</p>
        <% end %>
    </div>

    <div class='nav-links'>
        <%= link_to 'Home', root_path, class: 'nav-item' %>
        <%= link_to 'About', about_path, class: 'nav-item' %>
        <%= link_to 'Contact', contact_path, class: 'nav-item' %>
        <%= link_to 'Blogs', blogs_path, class: 'nav-item' %>
    </div>

    <div class="auth-links">
        <% if current_user %>
            <%= button_to 'Logout', destroy_user_session_path, method: :destroy, class: 'nav-item logout-btn' %>
            <%= link_to 'Edit Profile', edit_user_registration_path, class: 'nav-item' %>
        <% else %>
            <%= link_to 'Login', new_user_session_path, class: 'nav-item' %>
            <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-item' %>
        <% end %>
    </div>
</div>